.footer {
  padding: 20px 40px;
  flex-grow: 0;
  color: #999;
}
.footer__inner {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: #999;
}
.footer__content > *:not(:last-child)::after {
  content: "•";
  padding: 0 5px;
}
@media (max-width: 900px) {
  .footer__content > *:not(:last-child)::after {
    content: "•";
    padding: 0 5px;
  }
}
.footer__content > *:last-child {
  padding: 0 5px;
}
@media (max-width: 900px) {
  .footer__content > *:last-child {
    padding: 0;
  }
  @media (max-width: 400px) {
    .footer__content {
      flex-direction: column;
    }
    .footer__content > *:not(:last-child)::after {
      content: "";
      padding: 0;
    }
  }
}
